<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sundy.icare">

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name_pro"
        android:theme="@style/AppTheme">
        <activity
            android:name=".views.activity.LoadingActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".views.activity.BaseActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.activity.QRScannerActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.activity.LoginActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.activity.RegisterUserNameActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.activity.RegisterMobileActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.activity.RegisterPasswordActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.activity.ForgetPwd_MobileActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.activity.ForgetPwd_PasswordActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.activity.BindEmailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.activity.EmailValidationActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.activity.MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.activity.UserDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.activity.AddOrderActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.activity.AddOrderLocationActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.activity.MyOrderActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.activity.ServerActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.activity.SettingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.activity.ContactsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.activity.BindFamilyActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>
