<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sundy.icare">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name_pro"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".views.activity.LoadingActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".views.activity.BaseActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.activity.QRScannerActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.activity.LoginActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.activity.RegisterUserNameActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.activity.RegisterMobileActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.activity.RegisterPasswordActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.activity.ForgetPwd_MobileActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.activity.ForgetPwd_PasswordActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.activity.EmailValidationActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.activity.MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.activity.UserDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.activity.AddOrderActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.activity.AddOrderLocationActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.activity.MyOrderActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.activity.MyOrderDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.activity.ServerActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.activity.SettingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.activity.ContactsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.activity.BindFamilyActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.activity.MyFamilyActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.activity.MyFamilyDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.activity.VerifyPasswordActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.activity.BindEmailActivity"
            android:screenOrientation="portrait" />


    </application>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

</manifest>
